{{> layout/header}}

<div class="container p-5">
    <div class="card">
        <div class="card-header">
            <h4 class="mb-0"><b>환불 요청 관리</b></h4>
        </div>
        <div class="card-body">
            <table class="table table-hover table-responsive">
                <thead>
                <tr>
                    <th>NO</th>
                    <th>사용자</th>
                    <th>주문번호</th>
                    <th>환불요청금액</th>
                    <th>요청일시</th>
                    <th>상태</th>
                    <th>관리</th>
                </tr>
                </thead>
                <tbody>
                <!-- 반복문 시작        -->
                <tr>
                    <td>1</td>
                    <td>ssar2</td>
                    <td>point_13_UUID</td>
                    <td>2000</td>
                    <td>2026.01.09</td>
                    <td>대기중/승인/거절</td>
                    <td>
                        <button class="btn btn-outline-secondary btn-sm"
                                data-bs-toggle="modal" data-bs-target="#myModal"
                                onclick="openRefundModal(1, 'ssar2', 'reason', 2000, '대기중')">
                            상세
                        </button>
                    </td>
                </tr>
                <!-- 반복문 종료                 -->
                </tbody>
            </table>

        </div>
        <div class="card-footer">Footer</div>
    </div>
</div>


<!-- The Modal -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">환불요청상세</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <!-- 상세보기 누를 시 [1][2][3]...[10]  row 가 있다   -->
                <!-- 현재 선택된 환불 요청 pk 값을 잠시 이 태그에 저장 해둠 추후 사용 -->
                <input type="hidden" id="modalRefundId" value="">

                <div class="mb-3">
                    <label class="form-label text-muted small">신청자</label>
                    <div class="form-control-plaintext fw-bold" id="modalUsername" >(동적바인딩)</div>
                </div>

                <div class="mb-3">
                    <label class="form-label text-muted small">환불 요청 금액</label>
                    <div class="form-control-plaintext fw-bold" id="modalAmount">(동적바인딩)</div>
                </div>

                <div class="mb-3">
                    <label class="form-label text-muted small">요청 환불 사유</label>
                    <div class="form-control-plaintext fw-bold" id="modalReason">(동적바인딩)</div>
                </div>

                <div class="mb-3" style="display: none;" id="rejectReasonDiv">
                    <label class="form-label text-muted small">관리자 거절 이유</label>
                    <textarea class="form-control" name=""
                              id="rejectReasonInput" rows="2" placeholder="거절 사유 반드시 입력">
                    </textarea>
                </div>

            </div>

            <!-- Modal footer -->
            <div class="modal-footer" id="modalFooter">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">닫기</button>
            </div>
        </div>
    </div>
</div>

<script>
    // 모달이 오픈될 때 동적으로 해당하는 row 값을 모달에 올려 주어야 한다.
    function openRefundModal(id, username, reason, amount, statusDisplay) {
        // 환불 테이블 pk 할당 (추후 환불 거절/승인 ()
        document.getElementById("modalRefundId").value = id;
        document.getElementById("modalUsername").textContent = username;
        document.getElementById("modalAmount").textContent = parseInt(amount).toLocaleString();
        document.getElementById("modalReason").textContent = reason ? reason : "(사유 없음)";

        // UI 초기화
        const footer = document.getElementById("modalFooter");
        const rejectDiv = document.getElementById("rejectReasonDiv");
        rejectDiv.style.display = 'none';
        document.getElementById("rejectReasonInput").value = "";

        if(statusDisplay === '대기중') {
            footer.innerHTML = `
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                <button type="button" class="btn btn-danger" onclick="toggleRejectInput()">거절</button>
                <button type="button" class="btn btn-primary" onclick="approveRefund(${id})" >환불승인</button>
            `;
        } else {
            footer.innerHTML = `
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
            `;
        }

    }

    function toggleRejectInput() {
        const rejectDiv = document.getElementById("rejectReasonDiv");
        const footer = document.getElementById("modalFooter");
        const id = document.getElementById("modalRefundId").value;

        rejectDiv.style.display = "block";

        footer.innerHTML = `
            <button type="button" class="btn btn-secondary" onclick="hideRejectInput()">취소</button>
            <button type="button" class="btn btn-danger" onclick="rejectRefund(${id})">거절확정</button>
        `;
    }
    // <button type="button" class="btn btn-secondary" >취소</button>
    // 취소를 눌렀을 경우
    // 현재 [취소][거절확정] --> [닫기][거절][환불 승인]
    function hideRejectInput() {
        const id = document.getElementById("modalRefundId").value;
        const rejectDiv = document.getElementById("rejectReasonDiv");
        rejectDiv.style.display = "none";
        document.getElementById("rejectReasonInput").value = "";
        const footer = document.getElementById("modalFooter");
        footer.innerHTML = `
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                <button type="button" class="btn btn-danger" onclick="toggleRejectInput()">거절</button>
                <button type="button" class="btn btn-primary" onclick="approveRefund(${id})">환불승인</button>
            `;
    }

    function rejectRefund(id) {
        // 관리자가 입력한 텍스트 (거절 사유 값)
        const rejectReason =
                document.getElementById("rejectReasonInput").value.trim();

        if(!rejectReason) {
            alert("거절 사유를 입력하세요");
            return;
        }

        if(!confirm("환불 요청을 거절하시겠습니까?")) {
            return;
        }

        // 동적으로 폼 생성해서 post 요청
        const form = document.createElement('form');
        form.method = 'POST';
        form.action = `/admin/refund/${id}/reject`

        // <form> </form>
        // <input value="그냥 거절">
        const input = document.createElement("input");
        input.type = "hidden";
        input.name = "rejectReason"; // --> R_DTO  -> name : rejectReason
        input.value = rejectReason;

        // <form> <input value="그냥 거절"> </form>
        form.appendChild(input);
        // DOM에 방금 동적으로 만들어 둔 form 태그를 추가 해야 함.
        document.body.appendChild(form);
        // 이제 우리는 서버측으로 제출 하기
        form.submit();
    }

    function approveRefund(id) {
        if(!confirm("환불을 승인하시겠습니까?\n(즉시 환불처리됩니다)")) {
            return;
        }
        // 폼 태그 동적 생성
        const form = document.createElement("form");
        form.method = "POST";
        form.action = `/admin/refund/${id}/approve`;

        document.body.appendChild(form);
        form.submit();
    }

</script>


{{> layout/footer }}